body::-webkit-scrollbar{
  background-color: black;
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: rgb(0, 0, 0);
}

body::-webkit-scrollbar-thumb {
  background: linear-gradient(
    180deg,
    rgb(129, 0, 0) 40%,
    rgb(70, 0, 0) 100%
  );
  border-radius: 2px;
  border-left: 4px solid black;
}

body::-webkit-scrollbar-thumb:hover{
  background: linear-gradient(
    180deg,
    rgb(80, 6, 6) 40%,
    rgb(34, 5, 5) 100%
  );
}

@media only screen and (min-width: 1060px){

  body{
    background-color: black;
  }
  
  * p::selection, h3::selection, h4::selection, img::selection, a::selection, iframe::selection, span::selection{
    background-color: rgb(119, 0, 0);
  }

  /* Alter - Pc */

  .header-cll{
    display: none;
    transition-duration: 3s;
    -webkit-transition-duration: 3s;
  }

  
  /* Cabeçalho */
  
  header{
      border-bottom: solid rgb(119, 0, 0) 1px;
      transition-duration: 3s;
      -webkit-transition-duration: 3s;
      box-shadow: #222;
    }
    
    header:hover{
      border-bottom: solid rgb(146, 146, 146) 1px;
      transition-duration: 3s;
      -webkit-transition-duration: 3s;
    }
    
    #topo {
      background: linear-gradient(
        170deg,
        rgb(0, 0, 0) 0%,
        rgb(70, 0, 0) 100%
      );
    }
    
    #topo ul li {
      list-style: none;
    }
    
    #imagem-nerv{
      margin: 10px;
    }
    
    .ul {
      display: flex;
      justify-content: space-around;
    }
    
    .lista-texto{
      align-self: center;
      cursor: pointer;
    }
    
    .dropdown{
      margin-top: 2px;
      position: relative;
      display: inline-block;
    }
    
    .dropdown-content{
      display: none;
      position: absolute;
      background-color: rgb(0, 0, 0);
      min-width: 160px;
      padding: 12px 16px;
    }
    
    .dropdown:hover .dropdown-content{
      display: block;
      cursor: default;
      margin-left: -40px;
      box-shadow: 3px 5px 5px black; 
    }
    
    .funcionarios-content{
      display: flex;
      align-items: center;
      flex-direction: column;
    }
    
    .funcionarios-content li{
      margin: 3px;
    }
    
    .funcionarios-content a{
      list-style: none;
      text-decoration: none;
      padding: 3px 30px;
      text-align: center;
    }
    
    .funcionarios-content a:hover{
      background-color: #333;
    }
    

  
    .dropdown:hover{
      transition-duration: 0.3s;
      -webkit-transition-duration: 0.3s;
      background-color: rgb(119, 0, 0);
    }
  
    .dropdown span{
      transition-duration: 1s;
      -webkit-transition-duration: 1s;
    }
  
    .dropdown span:hover{
      color: rgb(148, 148, 148);
      transition-duration: 1s;
      -webkit-transition-duration: 1s;
    }
    
    .botao-link-id{
      border-bottom: rgb(146, 146, 146) solid 2px;
    }

    .botao-link{
      border-radius: 1px;
      background-color: #333;
      font-size: 18px;
      padding: 1rem 3rem;
      text-decoration: none;
      transition-duration: 0.5s;
      -webkit-transition-duration: 0.5s;
      border-bottom: rgb(119, 0, 0) solid 2px; 
    }
    
    .botao-link:hover{
      background-color: rgb(153, 0, 0);
      color: rgb(148, 148, 148);
      transition-duration: 0.5s;
      -webkit-transition-duration: 0.5s;
      border-bottom: rgb(146, 146, 146) solid 2px;
    }
    
    .nav{
      display: flex;
      margin: auto 0;
    }
    .login{
      display: flex;
      margin: auto 0;
    }
}










@media only screen and (max-width: 1060px){

  body{
    background-color: black;
  }
  
  * p::selection, h3::selection, h4::selection, img::selection, a::selection, iframe::selection, span::selection{
    background-color: rgb(119, 0, 0);
  }

  /* Alter - Celular */

  .header-pc{
    display: none;
  }
  
  /* Cabeçalho */

  #menu__toggle {
    opacity: 0;
    }
    #menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
    }
    #menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
    }
    #menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
    }
    #menu__toggle:checked ~ .menu__box {
    left: 0 !important;
    }
    .menu__btn {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
    }
    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    transition-duration: .25s;
    }
    .menu__btn > span::before {
    content: '';
    top: -8px;
    }
    .menu__btn > span::after {
    content: '';
    top: 8px;
    }
    .menu__box {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: rgb(0, 0, 0);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    border: 1px solid rgb(119, 0, 0);
    transition-duration: .25s;
    }
    .menu__item {
    display: block;
    padding: 12px 24px 12px 24px;
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
    border: 1px rgb(26, 0, 0) solid;
    }
    .menu__item:hover {
    background-color: rgb(119, 0, 0);
    color: #616161;
    }

    /* Dropdown*/
    .dropdown2{
      margin-top: 2px;

    }
    
    .dropdown-content2{
      display: none;
      position: absolute;
      background-color: rgb(0, 0, 0);
      min-width: 160px;
      padding: 12px 16px;
    }
    
    .dropdown2:hover .dropdown-content2{
      display: block;
      cursor: default;
      margin-left: 200px;
      box-shadow: 3px 5px 5px black; 
    }
    
    .funcionarios-content2{
      display: flex;
      align-items: center;
      flex-direction: column;
    }
    
    .funcionarios-content2 li{
      margin: 3px;
      list-style: none;
    }
    
    .funcionarios-content2 a{
      text-decoration: none;
      padding: 3px 30px;
      text-align: center;
    }
    
    .funcionarios-content2 a:hover{
      background-color: #333;
    }
  
    .dropdown2:hover{
      transition-duration: 0.3s;
      -webkit-transition-duration: 0.3s;
      background-color: rgb(119, 0, 0);
    }
  
    .dropdown2 span{
      transition-duration: 1s;
      -webkit-transition-duration: 1s;
    }
  
    .dropdown2 span:hover{
      color: rgb(148, 148, 148);
      transition-duration: 1s;
      -webkit-transition-duration: 1s;
    }
}









