section .main-content-cadastro{
    width: 80%;
    height: 80%;
    background-color: rgb(109, 109, 109);
    border-radius: 20px;
    color: #eee;
    background-image: url(img-wallpaper/Nerv-WallpaperLuz.webp);
    background-size: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0px 0 0 40px;
    border: solid rgb(119, 0, 0) 1px;
}

.colunaA{
    width: 70%;
    height: 90%;
}



.colunaB{
    width: 30%;
    height: 90%;
}

.cartao-cadastro{

    margin: 40px;

}

.quest{

    margin-top: 40px;

}

.input{
    font-size: 120%;
    background-color: #333;
    border-radius: 5px;
    width: 300px;
    padding: 10px 10px;
    margin-top: 10px;
}

.input:focus{

    background-color: rgb(200, 0, 0);

}

.input-button{
    

    border: solid #333 1px;
    transition-duration: 0.6s;
    -webkit-transition-duration: 0.6s;
    background: linear-gradient(
        90deg,
        rgb(119, 0, 0) 0%,
        black 100%
    );

}

.input-button:hover{

    transition-duration: 0.6s;
    -webkit-transition-duration: 0.6s;
    border: solid rgb(146, 146, 146) 1px;

}

.escolha-func{

    margin-top: 10px;
    background-color: #333;
    color: rgb(255, 255, 255);
    padding: 10px 40px;
    border-radius: 5px;

}

.escolha-func:focus{

    background-color: rgb(200, 0, 0);

}

.enviar{

    cursor: crosshair;
    text-align: center;
    text-decoration: none;

}

.enviar p{

    font-size: 120%;
    margin-top: 10px;

}