body{

    background-image: url(img-wallpaper/Nerv-Wallpaper.png);

}

.cA{

    display: flex;

}

.c1, .c2{
    border: 1px solid black;
    padding: 20px;

}

.cB{

    display: inline-block;

}